*.py[cod]
*~
MANIFEST

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
.idea
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt
setup.py.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Doc
.buildinfo
.doctrees
_build

#temperary install
csetup.py
csetup3.py
cmake2
cmake3
